# Arquivos e diretórios específicos do Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração do Django
*.log
db.sqlite3
.env

# Arquivos e diretórios gerados por IDEs
.idea/
.vscode/

# Dependências e diretórios de ambiente virtual
venv/
env/
venv3/
.env/

# Arquivos de configuração específicos de sistema
.DS_Store
Thumbs.db
