{% load static %}

<section id="inicio" class="bg-cover bg-no-repeat h-[75vh] relative" style="background-image: url({% static "img/background-main.jpg" %});">

    <div class="py-24 container-slider-home flex lg:justify-between md:justify-between justify-center lg:flex-row md:flex-row flex-col gap-8 lg:p-24 md:px-8 md:pr-16 items-center max-w-screen-2xl mx-auto h-full relative">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">

  
          <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">   
  
            <div class="lg:ml-12">
              <h1 class="my-4 text-7xl font-bold leading-tight text-gradient-darkorange">
                Produtividade sem limites!
              </h1>
            
              <p class="text-2xl mb-8 text-blue-800">
                Com a fibra nippontec, sua empresa vai além!
              </p>
              <a id="btn-saiba-mais" href="#planos" class="mx-auto btn-get-started bg-orange-500 text-white px-6 py-2 rounded-full shadow-md border border-orange-900 hover:bg-orange-700 hover:text-white font-bold text-lg transition duration-300 ease-in-out" style="font-size: 1rem;">Conheça nossos planos</a>
            </div>
  
          </div>
        
  
        <div class="w-full md:w-3/5 py-6 text-center">
          <img class="lg:ml-48 md:w-screen w-4/5 z-50" src="{% static 'img/modelo.png' %}" />
        </div>
        
      </div>
    </div>
  </section>