{% load static %}

<section id="planos" class="flex flex-col items-center justify-between py-24">

    <div class="my-12 text-center text-blue-950">
        <h1 class="text-5xl font-bold">Nossos planos</h1>
    </div>

    <div class="flex justify-between">

        <div class="elementor-widget-container bg-blue-200 p-8 rounded-lg shadow-lg mx-4">
          <h3 class="text-2xl font-semibold mb-4 text-blue-800">
            PARA SUA EMPRESA
          </h3>
      
          <p class="text-lg text-gray-600 mb-6">
            INTERNET EMPRESARIAL
          </p>
      
          <div class="flex justify-center items-center mb-8">
            <span class="text-4xl font-bold text-blue-700">
                R$ 100.00
            </span>
          </div>
      
          <ul class="list-disc list-inside text-gray-700 mb-8">

            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-blue-700 mr-2"></i>
              <span>Internet via fibra óptica</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-blue-700 mr-2"></i>
              <span>Ultra Velocidade</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-blue-700 mr-2"></i>
              <span>Suporte técnico 12h/dia</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-blue-700 mr-2"></i>
              <span>Cota Ilimitada</span>
            </li>
          </ul>
      
          <div class="text-center">
            <a href="#" class="bg-blue-500 text-white py-2 px-4 rounded-full hover:scale-105 transition">
              Contrate Agora!
            </a>
          </div>
        </div>
      
        <div class="elementor-widget-container bg-orange-200 p-8 rounded-lg shadow-lg mx-4">
          <h3 class="text-2xl font-semibold mb-4 text-orange-800">
            PARA SUA EMPRESA
          </h3>
      
          <p class="text-lg text-gray-600 mb-6">
            INTERNET EMPRESARIAL
          </p>
      
          <div class="flex justify-center items-center mb-8">
            <span class="text-4xl font-bold text-orange-700">
                R$ 100.00
            </span>
          </div>
      
          <ul class="list-disc list-inside text-gray-700 mb-8">

            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-orange-700 mr-2"></i>
              <span>Internet via fibra óptica</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-orange-700 mr-2"></i>
              <span>Ultra Velocidade</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-orange-700 mr-2"></i>
              <span>Suporte técnico 12h/dia</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-orange-700 mr-2"></i>
              <span>Cota Ilimitada</span>
            </li>
          </ul>
      
          <div class="text-center">
            <a href="#" class="bg-orange-500 text-white py-2 px-4 rounded-full hover:scale-105 transition">
              Contrate Agora!
            </a>
          </div>
        </div>
      
        <div class="elementor-widget-container bg-green-200 p-8 rounded-lg shadow-lg mx-4">
          <h3 class="text-2xl font-semibold mb-4 text-green-800">
            PARA SUA EMPRESA
          </h3>
      
          <p class="text-lg text-gray-600 mb-6">
            INTERNET EMPRESARIAL
          </p>
      
          <div class="flex justify-center items-center mb-8">
            <span class="text-4xl font-bold text-green-700">
                R$ 100.00
            </span>
          </div>
      
          <ul class="list-disc list-inside text-gray-700 mb-8">
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-green-700 mr-2"></i>
              <span>Internet via fibra óptica</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-green-700 mr-2"></i>
              <span>Ultra Velocidade</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-green-700 mr-2"></i>
              <span>Suporte técnico 12h/dia</span>
            </li>
            <li class="mb-2 flex items-center">
              <i class="far fa-check-circle text-green-700 mr-2"></i>
              <span>Cota Ilimitada</span>
            </li>
          </ul>
      
          <div class="text-center">
            <a href="#" class="bg-green-500 text-white py-2 px-4 rounded-full hover:scale-105 transition">
              Contrate Agora!
            </a>
          </div>
        </div>
      
      </div>
      
      
  </section>
  