{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .background-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url({% static "img/background.jpg" %});
        background-size: cover;
        background-position: center;
        filter: blur(5px);
        z-index: -1;
    }
</style>
{% endblock style %}

{% block content %}

<div class="background-container"></div>

<section class="relative z-10 overflow-hidden lg:py-[80px]">
   <div class="container mx-auto">
      <div class="flex flex-wrap -mx-4 lg:justify-between">
         <div class="w-full px-4 lg:w-1/2 xl:w-6/12">
            <div class="mb-12 max-w-[570px] lg:mb-0">
               <span class="text-blue-900 block mb-4 text-base font-semibold text-primary">
               Fale conosco
               </span>
               <h2
                  class="text-blue-600 mb-6 text-[32px] font-bold uppercase sm:text-[40px] lg:text-[36px] xl:text-[40px]"
                  >
                  Como podemos ajudar?
               </h2>
               <p
                  class="text-base leading-relaxed text-body-color dark:text-dark-6 mb-9"
                  >
                  Preencha o formulário ao lado que estaremos entrando em contato via email.
               </p>
               <div class="mb-8 flex w-full max-w-[370px]">
                  <div
                     class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                     >
                     <i class="fa-solid fa-location-dot fa-2xl"></i>
                  </div>
                  <div class="w-full">
                     <h4 class="mb-1 text-xl font-bold text-dark">
                        Endereço
                     </h4>
                     <p class="text-base">
                        R. Bom Jesus - Centro, Balsas - MA, 65800-000
                     </p>
                  </div>
               </div>
               <div class="mb-8 flex w-full max-w-[370px]">
                  <div
                     class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                     >
                     <i class="fa-solid fa-phone-volume fa-2xl"></i>

                  </div>
                  <div class="w-full">
                     <h4 class="mb-1 text-xl font-bold text-dark">
                        Fone
                     </h4>
                     <p class="text-base">
                        (99) 2141-1100
                     </p>
                  </div>
               </div>
               <div class="mb-8 flex w-full max-w-[370px]">
                  <div
                     class="bg-primary/5 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded sm:h-[70px] sm:max-w-[70px]"
                     >
                     <i class="fa-solid fa-envelope fa-2xl"></i>
                  </div>
                  <div class="w-full">
                     <h4 class="mb-1 text-xl font-bold text-dark">
                        Email
                     </h4>
                     <p class="text-base">
                        nippontec@gmail.com
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="mt-10 w-full px-4 lg:w-1/2 xl:w-5/12">
            
            <div class="md:col-span-1 bg-white p-6 rounded-lg shadow-md">
                <form>
                    <div class="mb-4">
                        <label for="nome" class="block text-sm font-medium text-gray-700">Nome:</label>
                        <input type="text" id="nome" name="nome" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700">E-mail:</label>
                        <input type="email" id="email" name="email" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                    </div>
                    <div class="mb-4">
                        <label for="assunto" class="block text-sm font-medium text-gray-700">Assunto:</label>
                        <select id="assunto" name="assunto" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
                            <option value="suporte">Suporte</option>
                            <option value="vendas">Vendas</option>
                            <option value="feedback">Feedback</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="mensagem" class="block text-sm font-medium text-gray-700">Mensagem:</label>
                        <textarea id="mensagem" name="mensagem" rows="4" class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
                    </div>
                    <button type="submit" class="bg-blue-700 text-white py-2 px-4 rounded-full">Enviar Mensagem</button>
                </form>
            </div>

         </div>
      </div>
   </div>
</section>

{% endblock content %}
