{% extends "base.html" %}
{% load static %}

{% block style %}
  <style>
    body {
      font-family: "Poppins", sans-serif;
    }

    .background-container {
      position: fixed;
      width: 100%;
      height: 100%;
      background-image: url({% static "img/background.jpg" %});
      background-size: cover;
      background-position: center;
      filter: blur(0px);
      z-index: -1;
    }
  </style>
{% endblock style %}

{% block content %}
    <div class="background-container"></div>

    <div class="container mx-auto py-1 flex items-center mt-16">
      <div class="flex-1">
        <h1 class="text-5xl font-bold text-blue-900">
          Produtividade sem limites!
        </h1>
        <h2 class="mt-4 text-blue-900 text-2xl">
          Com a fibra nippontec sua empresa vai além!
        </h2>
        <button
          class="text-2xl mt-8 font-extralight border-2 rounded-md border-blue-300 hover:bg-blue-500 hover:text-white transition duration-300 px-4 py-2 text-3xl"
        >
          Assine já
        </button>

        <button
          class="text-2xl mt-4 font-extralight border-2 rounded-md border-blue-300 hover:bg-blue-500 hover:text-white transition duration-300 px-4 py-2 text-3xl"
        >
          Mais detalhes
        </button>
      </div>

      <div class="flex-1 text-right">
        <img src="{% static 'img/modelo.png' %}" />
      </div>
    </div>

{% endblock content %}
